/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	/*font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin: 0;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color: #003087;
	text-decoration:none;
}
a:hover {
	transition: all 0.2s ease 0s;
	color: #36749D;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

.main {
	overflow: hidden;
}

.wrapper {
	/*max-width:1280px;*/
	width:100%;
	margin:0 auto;
	position:relative;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	font-size: 1.6rem;
	padding: 1.5em 1.5em;
}
.logo {
	cursor: pointer;
}
.logo-img {
	max-height: 50px;
}
.nav {
	
}
.nav__links {
	text-decoration: none;
	list-style-type: none;
}

.nav__item {
	padding: 0 0.5em;
	display: inline-block;
}

/** HOVERGREJ */
.nav__item a:after { 
	transition: 0.3s;
}

.nav__item a { 
	position: relative;
}

.nav__item a:hover:after {
	content: " ";
	position: absolute;
	bottom: -5px;
	width: 16px;
	left: 50%;
	margin-left: -8px;
	height: 1px;
	background: #1574a1;
}

.nav__item .cta:hover:after {
	content: none;
}
/** HOVERGREJ */


.cta {
	padding: 0.7em 1.3em;
	margin-left: 0.5em;
	border: 1.25px solid rgba(21, 116, 161, 1);
	border-radius: 2.5px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.cta:hover {
	background-color: rgba(21, 116, 161, 1);
	color: white;
}


/* footer */
.footer {

}

/*------------------------------------*\
    SECTIONS
\*------------------------------------*/

.section {
	width: 100%;
    padding: 4em 8em;
}

.hero {
	min-height: 38vw;
	background-color: #fff;
	position: relative;
}

.hero-wrap {
	max-width: 75%;
}

.hero h1 {
	color: #023f85;
	margin: 0 0 0.25em 0;
}
.hero h3 {
	font-size: 1.5rem;
	font-weight: 300;
	margin: 0 0 1em 0;
	padding-bottom: 0.5em;
	color: #202020;
}
.top-line--blue {
	padding-top: 0.5em;
	border-top: 2px solid #023f85;
	display: table; /* elements width set to content width */
}
.top-line--white {
	padding-top: 0.5em;
	border-top: 2px solid #fff;
	display: table; /* elements width set to content width */
}

.cta--filled {
	margin: 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    background-color: #ffed00;
    font-weight: 700;
    color: #005892;
	border: 1.25px solid  #ffed00;
	padding: 0.7em 1.3em;
	border-radius: 2.5px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.cta--filled:hover {
	border-color: rgba(21, 116, 161, 1);
}

.logo-side {
	position: absolute;
    bottom: -25%;
    right: -25%;
	width: 50vw;
}

.logo-arrow {
	width: 2em;
	transform: rotateY(180deg);
	margin-top: 2em;
	position: absolute;
	margin-left: -35%;
}

.items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	color: #202020;
}

.items__item {
	position: relative;
	max-width: 30%;
	margin: 0 3em;
}

.items p {
	font-size: 1.75rem;
	font-weight: 300;
	line-height: 2.5rem;
}

.bg-blue-dark {
	background-color: #023f85;

}

.bg-green {
	background-color: #89b858;
}

.bg-transparent-color{
	background-color: rgba(2, 63, 133, 0.5);
	height: 100%;
	z-index: 2;
}



.photo-half-border {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: hidden;
	border-bottom-style: hidden;
	border-width: 4px;
	border-color: #2cad6e;
}

.bottom-line--white {
	margin-top: 0; 
	padding-bottom: 0.5em;
	border-bottom: 2px solid #fff;
	display: table; /* elements width set to content width */
}

.photo-and-text {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
	padding-top: 8em;
	padding-bottom: 16em;
}

.photo-and-text__photo-wrapper {
	width: 25%;
	text-align: center;
	margin-right: 2em;
}

.photo-and-text__photo {
	padding: 0 0.5em 1em 0;

}

.photo-and-text__photo--round {
	border-radius: 50%;
}

.photo-caption {
	color: #fff;
}

.photo-caption__name {
	display: inline-block;
	margin-bottom: 0.5em;
}
.photo-caption__role {
	display: inline-block;
	margin-top: 0;
	font-size: 1.75rem;
	font-style: italic;
}

.text-center {
	text-align: center;
}

.photo-and-text__text {
	width: 55%;
	margin-left: 2em;
	max-width: 600px;
}

.photo-and-text__text p {
	line-height: 2.75rem;
}

.text-white {
	color: white;
}
.text-weight-lit {
	font-weight: 300;
}
.text-weight-med {
	font-weight: 500;
}
.text-weight-lrg {
	font-weight: 700;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}
p {
	font-size: 2rem;
}

.form {
	display: flex;
	justify-content: center;
}

.form h3 {
	color: #005892;
}

.form-wrapper {
	/* border: 1.25px solid  #023f85;
	border-radius: 2.5px; */
	margin: 5em 5em 0 5em;
	padding: 6em;
	background-color: #fff;
	min-width: 500px;
	width: 50vw;
	 /* clip-path: 
    polygon(
	  50% 0,
	  100% 25%,
      100% 100%,
	  0 100%,
	  0 25%
    );  */
	/* max-width: 40vw; */
}

.form__form {
	margin: 2em 0;
}
.form__input-name {
	font-size: 1.25rem;
	text-transform: uppercase;
	display: block;
	padding: 1em 0;
	color: #6e6e6e;
}
.form__input, 
.form__textarea{
	width: 100%;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #015892;
	padding: 1em 0;
}
.form__textarea {
	margin-bottom: 2em;
}

.form__checkbox {
	margin-right: 1em;
}
.permission-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 2em;
}
.submit-wrapper {
	text-align: center;
}
.form__submit {
	width: 25%;
	color: #005892;
}
.text-discrete {
	font-size: 1rem;
	color: #202020;
}

/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/

.slide-in-left {
	animation: slideInLeft 1.25s;
}

.fade-in {
	opacity: 0;
	transition: opacity 1.25s;
}

.fade-in.is-visible {
	opacity: 1;
}

.fade-in.trans-delay-25 {
	transition-delay: .25s
}

.slide-right-short {
	opacity: 0;
	transform: translateX(-3em);
	transition: opacity 1s, transform 1s;
}

.slide-right-short.logo-arrow {
	transform: translateX(-3em) rotateY(180deg);
}

.slide-right-short.logo-arrow.is-visible {
	transform: translateX(0) rotateY(180deg);
}

.slide-right-short.is-visible {
	transform: translateX(0);
	opacity: 1;
}

.slide-right-short:nth-of-type(1) { transition-delay: .15s }
.slide-right-short:nth-of-type(2) { transition-delay: .30s }
.slide-right-short:nth-of-type(3) { transition-delay: .45s }

.slide-up {
	opacity: 0;
	transform: translateY(25%);
	transition: all 1s;
}

.slide-up.is-visible {
	transform: translateY(0);
	opacity: 1;
}

.slide-right {
	opacity: 0;
	transform: translateX(-6em);
	transition: opacity 0.5s, transform 1s;
}

.slide-right.is-visible {
	transform: translateX(0);
	opacity: 1;
}

.slide-right:nth-of-type(1) { transition-delay: .15s }
.slide-right:nth-of-type(2) { transition-delay: .30s }
.slide-right:nth-of-type(3) { transition-delay: .45s }
.slide-right:nth-of-type(4) { transition-delay: .60s }
.slide-right:nth-of-type(5) { transition-delay: .75s }

@keyframes slideInLeft {
	from {
		transform: translateX(25%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
  }


/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700&display=swap');

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
/* ----- Mobil Screens ----------------*/
@media only screen and (max-width:320px) {
	h1 {
		font-size: 4rem;
	}
}
@media only screen and (max-width:480px) {
	.logo-side{
		display: none;
	}

	.section {
		padding: 3em 4em;
	}
	.form-wrapper {
		padding: 1em;
		min-width: 100%;
	}
}
@media only screen and (max-width:768px) {
	.nav__item--hide-on-mobile,
	.photo-and-text__photo-wrapper,
	.logo-arrow {
		display: none;
	}
	.photo-and-text__text {
		width: 100%;
		margin: 2em 0;
	}

	.items__item {
		max-width: 100%;
		margin: 0;
	}
}

/* ------ Large Screens ----------------*/


@media only screen and (min-width:1140px) {
	h1 {
		font-size: 6rem;
	}
	
}
@media only screen and (min-width:1280px) {
	.hero-wrap {
		margin-left: 4em;
		max-width: 75%;
	}
	h1 {
		font-size: 6.5rem;
	}

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
